[
{
"attributeURI":"urn:scim:schemas:extension:wso2:1.0:wso2Extension.employeeNumber",
"attributeName":"employeeNumber",
"dataType":"complex",
"multiValued":"false",
"description":"Numeric or alphanumeric identifier assigned to a person, typically based on order of hire or association with an organization",
"required":"false",
"caseExact":"false",
"mutability":"readWrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":costCenter,
"canonicalValues":["home","work"],
"referenceTypes":["external"]
},
{
"attributeURI":"urn:scim:schemas:extension:wso2:1.0:wso2Extension.costCenter",
"attributeName":"costCenter",
"dataType":"string",
"multiValued":"false",
"description":"Numeric or alphanumeric identifier assigned to a person, typically based on order of hire or association with an organization",
"required":"true",
"caseExact":"false",
"mutability":"readWrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":["home","work"],
"referenceTypes":["external"]
},
{
"attributeURI":"urn:scim:schemas:extension:wso2:1.0:wso2Extension",
"attributeName":"wso2Extension",
"dataType":"complex",
"multiValued":"false",
"description":"wso2 defined extended user schema",
"required":"false",
"caseExact":"false",
"mutability":"readWrite",
"returned":"Default",
"uniqueness":"none",
"subAttributes":employeeNumber,
"canonicalValues":["home","work"],
"referenceTypes":["external"]
}
]
