[
{
"attributeURI":"urn:scim:schemas:extension:wso2:1.0:wso2Extension.employeeNumber.costCenter",
"attributeName":"costCenter",
"dataType":"string",
"multiValued":"true",
"description":"Numeric or alphanumeric identifier assigned to a person, typically based on order of hire or association with an organization",
"required":"true",
"caseExact":"false",
"mutability":"readwrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":["home","work"],
"referenceTypes":["external"]
},
{
"attributeURI":"urn:scim:schemas:extension:wso2:1.0:wso2Extension.employeeNumber.saleCenter",
"attributeName":"saleCenter",
"dataType":"string",
"multiValued":"false",
"description":"Numeric or alphanumeric identifier assigned to a person, typically based on order of hire or association with an organization",
"required":"true",
"caseExact":"false",
"mutability":"readwrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":["home","work"],
"referenceTypes":["external"]
},
{
"attributeURI":"urn:scim:schemas:extension:wso2:1.0:wso2Extension.dogs.boss",
"attributeName":"boss",
"dataType":"string",
"multiValued":"false",
"description":"Numeric or alphanumeric identifier assigned to a person, typically based on order of hire or association with an organization",
"required":"false",
"caseExact":"false",
"mutability":"readwrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":["home","work"],
"referenceTypes":["external"]
},
{
"attributeURI":"urn:scim:schemas:extension:wso2:1.0:wso2Extension.employeeNumber",
"attributeName":"employeeNumber",
"dataType":"complex",
"multiValued":"false",
"description":"Numeric or alphanumeric identifier assigned to a person, typically based on order of hire or association with an organization",
"required":"false",
"caseExact":"false",
"mutability":"readWrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":costCenter saleCenter,
"canonicalValues":["home","work"],
"referenceTypes":["external"]
},
{
"attributeURI":"urn:scim:schemas:extension:wso2:1.0:wso2Extension.sister",
"attributeName":"sister",
"dataType":"string",
"multiValued":"false",
"description":"Numeric or alphanumeric identifier assigned to a person, typically based on order of hire or association with an organization",
"required":"false",
"caseExact":"false",
"mutability":"readWrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":["home","work"],
"referenceTypes":["external"]
},
{
"attributeURI":"urn:scim:schemas:extension:wso2:1.0:wso2Extension.owners",
"attributeName":"owners",
"dataType":"string",
"multiValued":"true",
"description":"Numeric or alphanumeric identifier assigned to a person, typically based on order of hire or association with an organization",
"required":"false",
"caseExact":"false",
"mutability":"readwrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":["home","work"],
"referenceTypes":["external"]
},
{
"attributeURI":"urn:scim:schemas:extension:wso2:1.0:wso2Extension.dogs",
"attributeName":"dogs",
"dataType":"complex",
"multiValued":"true",
"description":"Numeric or alphanumeric identifier assigned to a person, typically based on order of hire or association with an organization",
"required":"false",
"caseExact":"false",
"mutability":"readwrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":boss,
"canonicalValues":["home","work"],
"referenceTypes":["external"]
},
{
"attributeURI":"urn:scim:schemas:extension:wso2:1.0:wso2Extension",
"attributeName":"wso2Extension",
"dataType":"complex",
"multiValued":"false",
"description":"wso2 defined extended user schema",
"required":"false",
"caseExact":"false",
"mutability":"readWrite",
"returned":"Default",
"uniqueness":"none",
"subAttributes":employeeNumber sister owners dogs,
"canonicalValues":["home","work"],
"referenceTypes":["external"]
}
]
